/*Galery*/

.fotos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .kheaSolo{
        height: 228px;
        width: 350px;
        padding: 1px;
        border-radius: 2%;
        margin: 2px;
        transition: 1s ;
        &:hover{
            transform: scale(1.05);
        }
    }
}

.audioVisual{
    margin-left:100px;
    margin-right:80px ;
    .videosCanciones{
        width: 40%;
        height: 210px;
        margin-bottom: 60px;
        margin-left: 35px;
        margin-right:20px ;
    }
}

header{
    .h1Galery{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding-left: 150px;
    }
    .h2Galery{
        font-size: 30px;
        margin-top: 45px;
        margin-bottom: 45px;
        display: block;
        padding-left: 150px;
      }
} 

@media screen and (max-width: 600px) {
    .h1Galery{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        padding-left: 150px;
        }
        .h2Galery{
            font-size: 30px;
            margin-top: 45px;
            margin-bottom: 45px;
            display: block;
            padding-left: 50px;
          }
}


/*Galery*/