@import "index";
@import "galery";
@import "entradas";
@import "songs";
@import "contacto";

/*Mapas*/

$headings: (
    h1: 40px,
    h2: 30px,
    h3:25px,
    h4:20px,
);

$h1: map-get ($headings, h1);

/*Bucles Each*/

$lista1: red, blue, green, yellow, black, white;

@each $color in $lista1 {
    .#{color}{
    background-color: $color;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}




body{
    background-color: black;
    font-family: 'Raleway', sans-serif !important;
    color: white;
    text-transform: capitalize;
    margin-left: 100px;
    margin-right: 100px;
    overflow-x: hidden;

}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold ;
}
section{
    border-bottom: 2px solid white;
}


/*Menu*/
.logo{
    height: 100%;
    width: 150px;
    display: inline-block;
}
/*Menu*/

/*Footer*/
.border1 {
    border: 1px solid white;
    width: 40px;
    margin: 5px;}
  .paddingFooter{
    padding: 48px;
  }
  .paddingLogos{
    padding: 0px !important ;
  }
  @media only screen and (max-width: 375px){
    .marginQueries{
     margin-left: 140px ;
     margin-top: 10px !important;
    }
  }

/*Footer*/

/*boostrap*/


.background{

    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.aAnimation {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.aAnimation:hover, a:focus {
    background-size: 100% 2px;
}
/*bootstrap*/

