@import "index";
@import "galery";
@import "entradas";
@import "songs";
@import "contacto";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


header {
    .tituloIndex{
        color: green;
    }
}

body{
    background-color: black;
    font-family: 'Raleway', sans-serif !important;
    color: white;
    text-transform: capitalize;
    margin-left: 100px;
    margin-right: 100px;
    overflow-x: hidden;

}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold ;
}
section{
    border-bottom: 2px solid white;
}


/*Menu*/
.logo{
    height: 100%;
    width: 150px;
    display: inline-block;
}
/*Menu*/

/*Footer*/
.border1{
    border: 1px solid white;
    width: 40px;
    margin: 5px;
}

/*Footer*/

/*boostrap*/


.background{

    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}
.achicar{
    width: 500px;
    margin: 0 auto;
}
.fondoBoxmodel{
    background-color: black;
    color: white;
}
.aAnimation {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.aAnimation:hover, a:focus {
    background-size: 100% 2px;
}
/*bootstrap*/

